@namespace GitBug.Shared
@inherits CellBase

<div class="cell-container" title="@Data.Date.ToString("yyyy-MM-dd") - @Data.Level">
    
    @switch (State)
    {
        case CellState.Clickable:
            
            <div class="cell cell-clickable level-@Data.Level"
                 @onpointerup="OnPointerUp">
                
                <img src="/_content/GitBug.Shared/img/icons/commits.svg" class="cell-clickable__icon" alt="Bug Counter"/>
                <p class="cell-clickable__count">@Data.Count</p>

            </div>
            
            break;

        case CellState.Flagged:
            
            <div class="cell cell-flagged level-@Data.Level">
                
            </div>
            
            break;

        case CellState.Revealed:
            
            <div class="cell cell-revealed level-@Data.Level-reveal">
                
                @switch (Data.State)
                {
                    case ContributionCellState.Empty:
            
                        <div class="cell cell-revealed__empty">
                
                        </div>
            
                        break;

                    case ContributionCellState.Tested:

                        if (Data.Level != 0)
                        {
                            <div class="cell cell-revealed__tested">
                                <img src="/_content/GitBug.Shared/img/icons/tested-white.svg" class="cell-revealed__icon" alt="Bug Counter"/>
                            </div>
                        }
                        
                        break;

                    case ContributionCellState.Bug:
            
                        <div class="cell cell-revealed__bug">
                            <img src="/_content/GitBug.Shared/img/icons/bug-white.svg" class="cell-revealed__icon" alt="Bug Counter"/>
                        </div>
            
                        break;
                        
                    case ContributionCellState.Resolved:
            
                        <div class="cell cell-revealed__resolved">
                            <p class="cell-revealed__resolved-bug-count">@Data.BugCount</p>
                        </div>
            
                        break;

                    default:
                        throw new ArgumentOutOfRangeException();
                }
                
            </div>
            
            break;

        default:
            throw new ArgumentOutOfRangeException();
    }

</div>