.cell-container {
    position: relative;
    
    width: 32px;
    height: 32px;
    
    border-radius: 2px;
    
    user-select: none;
}

.cell {
    width: 100%;
    height: 100%;

    border-radius: 2px;
}


.cell-clickable {
    cursor: var(--cursor-pointer);
}

.cell-clickable__commits {
    width: 100%;
    
    position: absolute;
    bottom: 2px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cell-clickable__icon {
    width: 10px;
    height: 10px;
}

.cell-clickable__count {
    font-size: 0.8em;
    font-family: var(--font-bold), sans-serif;
    color: var(--color-text-alt);
}


.cell-revealed {
}

.cell-revealed__tested {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-cell-tested);
}

.cell-revealed__bug {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-cell-bug);
}

.cell-revealed__icon {
    width: 22px;
    height: 22px;
}


.level-0 { background-color: var(--color-cell-commit-0); }
.level-1 { background-color: var(--color-cell-commit-1); }
.level-2 { background-color: var(--color-cell-commit-2); }
.level-3 { background-color: var(--color-cell-commit-3); }
.level-4 { background-color: var(--color-cell-commit-4); }

.level-0-reveal { background-color: #ebedf0; }
.level-1-reveal { background-color: #c6e48b; }
.level-2-reveal { background-color: #7bc96f; }
.level-3-reveal { background-color: #239a3b; }
.level-4-reveal { background-color: #196127; }
