.page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.contribution-header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bug-counter {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bug-counter__icon {
    width: 32px;
    height: 32px;
}

.bug-counter__count {
    text-align: center;
    width: 140px;
    
    font-size: 2em;
    font-family: var(--font-bold), sans-serif;
    color: var(--color-text-primary);
}


.contribution-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.week-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contribution-row {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
