.page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}


.bug-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bug-counter__icon {
    width: 32px;
    height: 32px;
}

.bug-counter__count {
    font-size: 2em;
    font-family: var(--font-bold), sans-serif;
    color: var(--color-text-primary);
}


.contribution-grid {
    position: relative;
    top: 10%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.week-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contribution-row {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
