@page "/"
@inherits HomeBase

<PageTitle>GitBug</PageTitle>

<div class="page">
    
    <h1 class="title">GitBug</h1>
    <p class="description">A strategic game that transforms GitHub's contribution grid into a bug-hunting challenge - a reverse-minesweeper where more commits mean more bugs!</p>

    <label for="input-text" class="input-text__label">Enter a Github username</label>
    <input id="input-text" 
           class="input-text" 
           value="@Value" 
           placeholder="ex: LaM0uette" 
           spellcheck="false"
           @oninput="OnInputChanged"/>
    
    @if (!string.IsNullOrEmpty(Value))
    {
    }
    
</div>