@page "/"
@namespace GitBug.Client
@inherits HomeBase

<PageTitle>GitBug</PageTitle>

<div class="page">
    
    <div class="card">
        
        <h1 class="title">GitBug</h1>
        
        <VerticalSpacer Value="20"/>
        
        <p class="description">
            A strategic reverse-minesweeper where more commits mean more bugs.
            Analyze activity patterns, deploy your tests wisely, and uncover every hidden flaw before you run out of resources.
        </p>
        
        <VerticalSpacer Value="50"/>
        
        <div class="form">
            
            <InputField Label="Enter a Github username:"
                        Placeholder="ex: LaM0uette"
                        ValueChanged="OnValueChanged"
                        Validated="OnValidated"
                        Width="100%"/>

            <VerticalSpacer Value="20"/>
                
            <DropDown Label="Select a year:"
                      Options="AvailableYears"
                      Selected="@SelectedYear"
                      SelectedChanged="OnYearChanged"
                      Width="100%"/>

        </div>
        
    </div>
    

</div>