.input-text-container
{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 0.2rem;
}


.input-field__label {
    width: 100%;

    font-size: 1.5rem;
    color: var(--color-text-alt);
}

.input-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    padding-left: 5px;
    padding-right: 35px;
    box-sizing: border-box;

    color: var(--color-text-primary);
    background-color: transparent;

    font-family: var(--font-bold), sans-serif;
    font-size: 1.4em;

    border-image: var(--img-board-background);
    outline: none;

    caret-color: var(--color-text-primary);
    cursor: var(--cursor-text);
    
    &::placeholder {
        color: var(--color-text-placeholder);

        font-family: var(--font-bold), sans-serif;
        font-size: 1em;
        font-style: italic;
    }
    
    &::spelling-error {
        text-decoration: none;
    }
    
    &::selection {
        background-color: var(--color-text-primary);
        color: var(--color-secondary);
    }
}

.clear-button
{
    width: 22px;
    height: 22px;

    position: absolute;
    right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1em;

    color: var(--color-primary);
    background: transparent;
    border: none;

    cursor: var(--cursor-pointer);
    outline: none;
    
    &:hover {
        opacity: 0.8;
    }
    
    &:active {
        opacity: 0.5;
    }
    
    &:focus {
        outline: none;
    }
}

.clear-button__icon
{
    width: 22px;
    max-width: 22px;
    height: 22px;
    max-height: 22px;
}
