@namespace GitBug.Shared
@inherits InputFieldBase

<style>
    
    .input-text-container {
        width: @Width;
    }
    
    .input-field__label {
        width: @Width;
    }

    .input-text
    {
        width: @Width;
        height: @Height;
    }
    
    .input-field
    {
        width: @Width;
        height: @Height;
    }

</style>

<div class="input-text-container">
    
    <label for="input-field" class="input-field__label">@Label</label>
    
    <div class="input-text">
        
        <input id="input-field"
               class="input-field"
               value="@Value"
               placeholder="@Placeholder"
               spellcheck="false"
               @oninput="OnInputChanged"
               @onblur="HandleBlur"
               @onkeydown="HandleKeyDown"/>
    
        @if (!string.IsNullOrEmpty(Value))
        {
            <button type="button" class="clear-button" @onclick="ClearInput">
                <img src="/_content/GitBug.Shared/img/icons/clear-icon.svg" class="clear-button__icon" alt="Clear input"/>
            </button>
        }

    </div>
    
</div>
